body {
  background-color: #e5e5e5;
}
header {
  font-size: 20px;
}
h1 {
  background-color: white;
}
.form-label {
  font-size: .9rem;
}
.form-background {
  background-color: white;
}
.card {
  border: none;
}
.card-title {
  font-size: 1rem;
  padding-bottom: 20px;
}
.complete-icon {
  font-size: 3rem;
  color: green;
}
.nav-icon {
  font-size: 1.5rem;
  color: white;
}
